a:link {
    text-decoration: none;
    Yazı çizgisini kaldır font-size: 14px;
    font-family: 'Segoe UI';
    font-style: normal;
}

a:hover { /*Yazının üstüne gelince ne olsun?*/
    font-size: 18px;
    color:yellow;
}
